###  MRET xlsx to Tidy Data

Take the Trade in goods MRETS (all BOP - EU2013): time series dataset and convert to Tidy Data in CSV.

Fetch and cache the latest published MRETS data as an Excel spreadsheet (single sheet).

In [1]:
import requests
from pathlib import Path
from io import BytesIO
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

inputURL = 'https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/datasets/tradeingoodsmretsallbopeu2013timeseriesspreadsheet/current/mret.xlsx'
mretsExcel = BytesIO(session.get(inputURL).content)

Read in the spreadsheet as a table, naming the columns after the CDID (second row).

In [2]:
import pandas as pd
tab = pd.read_excel(mretsExcel, header=None)
tab.rename(columns=tab.iloc[1], inplace=True)
tab.rename(columns={'CDID': 'Period'}, inplace=True)
tab

,Period,SESM,HCPC,SESX,SESQ,SESZ,SEUJ,SEUC,LKVB,HCRB,...,QALL,QALN,QALY,QALX,QALZ,QALU,SGRX,QALW,QALV,SGTK
0,Title,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6,Balance of payments: Trade in Goods: Oil Expor...,EU:BOP:EX:price index:NSA:Semi-manufactures: S...,EU:BOP:EX:SA:Semi-manufactures: SITC 5+6,EU:BOP:EX:volume index:SA:Semi-manufactures: S...,non-EU:BOP:EX:price index:NSA:Semi-manufacture...,non-EU:BOP:EX:SA:Semi-manufactures: SITC 5+6,EU(2004):BOP:IM:price index:NSA:Total trade in...,Balance of payments:Trade in Goods: North Amer...,...,BoP-consistent: Egypt: Exports: SA,BoP-consistent: Egypt: Balance: SA,Balance of payments: Trade in Goods: Ships: SI...,Balance of payments: Trade in Goods: Ships: SI...,Balance of payments: Ships: SITC 793:Balance: ...,Balance of payments: Trade in Goods: Aircraft:...,non-EU:BOP:EX:SA:Unspecified goods: SITC 9,Balance of payments: Trade in Goods: Aircraft:...,Balance of payments: Trade in Goods: Aircraft:...,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
1,CDID,SESM,HCPC,SESX,SESQ,SESZ,SEUJ,SEUC,LKVB,HCRB,...,QALL,QALN,QALY,QALX,QALZ,QALU,SGRX,QALW,QALV,SGTK
2,PreUnit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Release Date,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,...,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018,10-05-2018
5,Next release,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,...,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018,11 June 2018
6,Important Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,2015 OCT,-2044,1128,99,3378,102,100,2926,99.2,3303,...,77,19,64,86,22,1102,92,12,1090,99
1007,2015 NOV,-1979,846,97,3316,101,99,2932,97.8,3203,...,92,52,65,80,15,1234,1151,53,1181,119
1008,2015 DEC,-1927,838,98,3358,100,99,2903,99.3,3054,...,73,30,63,132,69,1153,1562,216,937,114
1009,2016 JAN,-2196,655,101,3211,93,101,2968,100.5,2967,...,93,35,69,72,3,921,1181,277,644,252
1010,2016 FEB,-1785,899,103,3501,100,102,3184,101.3,3276,...,88,39,149,99,-50,1082,300,40,1042,506
1011,2016 MAR,-1717,838,104,3219,91,102,2966,101.5,3710,...,109,39,71,100,29,1284,479,-336,1620,1081
1012,2016 APR,-1981,919,104,3436,96,102,3187,102,3509,...,100,46,543,96,-447,1520,430,315,1205,268
1013,2016 MAY,-1909,771,104,3285,92,102,2781,101.2,3182,...,96,28,94,94,0,1575,1313,594,981,484
1014,2016 JUN,-2092,724,105,3429,95,104,2849,102,3493,...,89,6,65,100,35,1610,428,365,1245,499
1015,2016 JUL,-2140,1168,109,3531,94,107,2851,104.8,3894,...,93,55,112,601,489,1027,362,-607,1634,1534
1016,2016 AUG,-2173,1102,111,3701,98,108,3066,104.5,4638,...,124,65,63,269,206,1313,347,-924,2237,1594
1017,2016 SEP,-2188,945,110,3656,97,107,2940,103.4,3744,...,176,123,600,58,-542,1214,486,84,1130,893
1018,2016 OCT,-2102,938,115,3524,90,110,3287,106.2,3404,...,139,100,76,85,9,1434,1088,793,641,613
1019,2016 NOV,-2490,986,112,3603,93,109,2898,104.7,3586,...,106,53,306,80,-226,1416,1399,401,1015,573
1020,2016 DEC,-2241,1025,110,3870,101,108,3241,104.2,3694,...,110,59,79,130,51,1549,800,483,1066,544
1021,2017 JAN,-2349,1041,112,3843,100,109,3168,106.1,3535,...,145,91,65,69,4,1355,505,618,737,551
1022,2017 FEB,-2197,1026,112,3739,99,109,3188,105.8,3513,...,101,47,206,49,-157,1278,407,78,1200,474
1023,2017 MAR,-2252,1371,114,4062,105,110,3083,106.8,4138,...,97,44,288,124,-164,1681,969,569,1112,653
1024,2017 APR,-2252,1321,112,3973,104,109,3372,106.7,3593,...,132,80,67,92,25,1105,1229,-162,1267,524
1025,2017 MAY,-2404,1060,113,3983,103,108,3557,107.5,3737,...,130,76,65,72,7,1252,452,362,890,783
1026,2017 JUN,-2113,1206,115,4199,106,109,3124,108.9,3910,...,110,35,77,80,3,1609,546,351,1258,1449
1027,2017 JUL,-2082,1795,115,3984,101,108,3139,109,3903,...,120,63,157,143,-14,1198,670,190,1008,1230
1028,2017 AUG,-2459,1347,118,4078,103,109,3302,110.2,3790,...,132,87,118,97,-21,1439,576,689,750,781
1029,2017 SEP,-2414,1286,116,4119,105,108,3125,109,3685,...,107,57,60,80,20,1223,1089,373,850,561
1030,2017 OCT,-2516,1446,117,3917,99,108,3140,109.5,3497,...,162,104,887,167,-720,1585,922,521,1064,612
1031,2017 NOV,-2065,1345,117,4055,101,108,3070,109.7,4213,...,112,43,74,98,24,1429,737,591,838,1091
1032,2017 DEC,-2327,1029,116,4128,103,108,3385,109.5,4129,...,94,48,208,121,-87,1242,806,591,651,872
1033,2018 JAN,-2096,1244,116,4104,104,108,3388,109.9,3865,...,105,29,65,117,52,1453,677,232,1221,576
1034,2018 FEB,-2257,1149,116,3916,98,106,3119,110.4,3246,...,108,48,160,88,-72,1266,456,754,512,490
1035,2018 MAR,-2388,1039,117,3966,100,106,3364,110.6,3465,...,103,33,70,125,55,1474,556,921,553,880

The observations are in rows 7 on.

In [3]:
observations = tab[7:].rename(columns={'CDID': 'Period'})
observations.head()

,Period,SESM,HCPC,SESX,SESQ,SESZ,SEUJ,SEUC,LKVB,HCRB,...,QALL,QALN,QALY,QALX,QALZ,QALU,SGRX,QALW,QALV,SGTK
7,1945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Each CDID corresponds to a unique time-series slice. Unpivot the table so we have one row per observation and drop any rows with no value for the observation.

In [4]:
observations = pd.melt(observations, id_vars=['Period'], var_name='CDID', value_name='Value')
observations.dropna(inplace=True)
observations.reset_index(drop=True, inplace=True)
print(len(observations))
observations.tail(5)

270682

          Period  CDID Value
270677  2017 NOV  SGTK  1091
270678  2017 DEC  SGTK   872
270679  2018 JAN  SGTK   576
270680  2018 FEB  SGTK   490
270681  2018 MAR  SGTK   880

Each CDID is described by a colon separated title, so add these back in to describe the observations.

In [5]:
observations['Title'] = tab.iloc[0][observations['CDID']].values
observations.head()

  Period  CDID  Value                                          Title
0   1998  SESM  -2766  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
1   1999  SESM  -2568  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
2   2000  SESM  -2441  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
3   2001  SESM  -3157  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
4   2002  SESM  -4703  EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6

The date/time values need to be in a format that can be used to create URIs for British calendar intervals,
see https://github.com/epimorphics/IntervalServer/blob/master/interval-uris.md#british-calendar-intervals

In [6]:
observations['Period'].unique()

array(['1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '1998 Q1', '1998 Q2', '1998 Q3',
       '1998 Q4', '1999 Q1', '1999 Q2', '1999 Q3', '1999 Q4', '2000 Q1',
       '2000 Q2', '2000 Q3', '2000 Q4', '2001 Q1', '2001 Q2', '2001 Q3',
       '2001 Q4', '2002 Q1', '2002 Q2', '2002 Q3', '2002 Q4', '2003 Q1',
       '2003 Q2', '2003 Q3', '2003 Q4', '2004 Q1', '2004 Q2', '2004 Q3',
       '2004 Q4', '2005 Q1', '2005 Q2', '2005 Q3', '2005 Q4', '2006 Q1',
       '2006 Q2', '2006 Q3', '2006 Q4', '2007 Q1', '2007 Q2', '2007 Q3',
       '2007 Q4', '2008 Q1', '2008 Q2', '2008 Q3', '2008 Q4', '2009 Q1',
       '2009 Q2', '2009 Q3', '2009 Q4', '2010 Q1', '2010 Q2', '2010 Q3',
       '2010 Q4', '2011 Q1', '2011 Q2', '2011 Q3', '2011 Q4', '2012 Q1',
       '2012 Q2', '2012 Q3', '2012 Q4', '2013 Q1', '2013 Q2', '2013 Q3',
       '2013 Q4', '2014 Q1', '2014 Q2', '2014 Q3', '2014 Q4', '2015 Q1',
       '2015 Q2', '2015 Q3', '2015 Q4', '2016 Q1', '2016 Q2', '2016 Q3',
       '2016 Q4', '2017 Q1', '2017 Q2', '2017 Q3', '2017 Q4', '2018 Q1',
       '1998 JAN', '1998 FEB', '1998 MAR', '1998 APR', '1998 MAY',
       '1998 JUN', '1998 JUL', '1998 AUG', '1998 SEP', '1998 OCT',
       '1998 NOV', '1998 DEC', '1999 JAN', '1999 FEB', '1999 MAR',
       '1999 APR', '1999 MAY', '1999 JUN', '1999 JUL', '1999 AUG',
       '1999 SEP', '1999 OCT', '1999 NOV', '1999 DEC', '2000 JAN',
       '2000 FEB', '2000 MAR', '2000 APR', '2000 MAY', '2000 JUN',
       '2000 JUL', '2000 AUG', '2000 SEP', '2000 OCT', '2000 NOV',
       '2000 DEC', '2001 JAN', '2001 FEB', '2001 MAR', '2001 APR',
       '2001 MAY', '2001 JUN', '2001 JUL', '2001 AUG', '2001 SEP',
       '2001 OCT', '2001 NOV', '2001 DEC', '2002 JAN', '2002 FEB',
       '2002 MAR', '2002 APR', '2002 MAY', '2002 JUN', '2002 JUL',
       '2002 AUG', '2002 SEP', '2002 OCT', '2002 NOV', '2002 DEC',
       '2003 JAN', '2003 FEB', '2003 MAR', '2003 APR', '2003 MAY',
       '2003 JUN', '2003 JUL', '2003 AUG', '2003 SEP', '2003 OCT',
       '2003 NOV', '2003 DEC', '2004 JAN', '2004 FEB', '2004 MAR',
       '2004 APR', '2004 MAY', '2004 JUN', '2004 JUL', '2004 AUG',
       '2004 SEP', '2004 OCT', '2004 NOV', '2004 DEC', '2005 JAN',
       '2005 FEB', '2005 MAR', '2005 APR', '2005 MAY', '2005 JUN',
       '2005 JUL', '2005 AUG', '2005 SEP', '2005 OCT', '2005 NOV',
       '2005 DEC', '2006 JAN', '2006 FEB', '2006 MAR', '2006 APR',
       '2006 MAY', '2006 JUN', '2006 JUL', '2006 AUG', '2006 SEP',
       '2006 OCT', '2006 NOV', '2006 DEC', '2007 JAN', '2007 FEB',
       '2007 MAR', '2007 APR', '2007 MAY', '2007 JUN', '2007 JUL',
       '2007 AUG', '2007 SEP', '2007 OCT', '2007 NOV', '2007 DEC',
       '2008 JAN', '2008 FEB', '2008 MAR', '2008 APR', '2008 MAY',
       '2008 JUN', '2008 JUL', '2008 AUG', '2008 SEP', '2008 OCT',
       '2008 NOV', '2008 DEC', '2009 JAN', '2009 FEB', '2009 MAR',
       '2009 APR', '2009 MAY', '2009 JUN', '2009 JUL', '2009 AUG',
       '2009 SEP', '2009 OCT', '2009 NOV', '2009 DEC', '2010 JAN',
       '2010 FEB', '2010 MAR', '2010 APR', '2010 MAY', '2010 JUN',
       '2010 JUL', '2010 AUG', '2010 SEP', '2010 OCT', '2010 NOV',
       '2010 DEC', '2011 JAN', '2011 FEB', '2011 MAR', '2011 APR',
       '2011 MAY', '2011 JUN', '2011 JUL', '2011 AUG', '2011 SEP',
       '2011 OCT', '2011 NOV', '2011 DEC', '2012 JAN', '2012 FEB',
       '2012 MAR', '2012 APR', '2012 MAY', '2012 JUN', '2012 JUL',
       '2012 AUG', '2012 SEP', '2012 OCT', '2012 NOV', '2012 DEC',
       '2013 JAN', '2013 FEB', '2013 MAR', '2013 APR', '2013 MAY',
       '2013 JUN', '2013 JUL', '2013 AUG', '2013 SEP', '2013 OCT',
       '2013 NOV', '2013 DEC', '2014 JAN', '2014 FEB', '2014 MAR',
       '2014 APR', '2014 MAY', '2014 JUN', '2014 JUL', '2014 AUG',
       '2014 SEP', '2014 OCT', '2014 NOV', '2014 DEC', '2015 JAN',
       '2015 FEB', '2015 MAR', '2015 APR', '2015 MAY', '2015 JUN',
       '2015 JUL', '2015 AUG', '2015 SEP', '2015 OCT', '2015 NOV',
       '2015 DEC', '2016 JAN', '2016 FEB', '2016 MAR', '2016 APR',
       '2016 MAY', '2016 JUN', '2016 JUL', '2016 AUG', '2016 SEP',
       '2016 OCT', '2016 NOV', '2016 DEC', '2017 JAN', '2017 FEB',
       '2017 MAR', '2017 APR', '2017 MAY', '2017 JUN', '2017 JUL',
       '2017 AUG', '2017 SEP', '2017 OCT', '2017 NOV', '2017 DEC',
       '2018 JAN', '2018 FEB', '2018 MAR', '1955', '1956', '1957', '1958',
       '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1955 Q1',
       '1955 Q2', '1955 Q3', '1955 Q4', '1956 Q1', '1956 Q2', '1956 Q3',
       '1956 Q4', '1957 Q1', '1957 Q2', '1957 Q3', '1957 Q4', '1958 Q1',
       '1958 Q2', '1958 Q3', '1958 Q4', '1959 Q1', '1959 Q2', '1959 Q3',
       '1959 Q4', '1960 Q1', '1960 Q2', '1960 Q3', '1960 Q4', '1961 Q1',
       '1961 Q2', '1961 Q3', '1961 Q4', '1962 Q1', '1962 Q2', '1962 Q3',
       '1962 Q4', '1963 Q1', '1963 Q2', '1963 Q3', '1963 Q4', '1964 Q1',
       '1964 Q2', '1964 Q3', '1964 Q4', '1965 Q1', '1965 Q2', '1965 Q3',
       '1965 Q4', '1966 Q1', '1966 Q2', '1966 Q3', '1966 Q4', '1967 Q1',
       '1967 Q2', '1967 Q3', '1967 Q4', '1968 Q1', '1968 Q2', '1968 Q3',
       '1968 Q4', '1969 Q1', '1969 Q2', '1969 Q3', '1969 Q4', '1970 Q1',
       '1970 Q2', '1970 Q3', '1970 Q4', '1971 Q1', '1971 Q2', '1971 Q3',
       '1971 Q4', '1972 Q1', '1972 Q2', '1972 Q3', '1972 Q4', '1973 Q1',
       '1973 Q2', '1973 Q3', '1973 Q4', '1974 Q1', '1974 Q2', '1974 Q3',
       '1974 Q4', '1975 Q1', '1975 Q2', '1975 Q3', '1975 Q4', '1976 Q1',
       '1976 Q2', '1976 Q3', '1976 Q4', '1977 Q1', '1977 Q2', '1977 Q3',
       '1977 Q4', '1978 Q1', '1978 Q2', '1978 Q3', '1978 Q4', '1979 Q1',
       '1979 Q2', '1979 Q3', '1979 Q4', '1980 Q1', '1980 Q2', '1980 Q3',
       '1980 Q4', '1981 Q1', '1981 Q2', '1981 Q3', '1981 Q4', '1982 Q1',
       '1982 Q2', '1982 Q3', '1982 Q4', '1983 Q1', '1983 Q2', '1983 Q3',
       '1983 Q4', '1984 Q1', '1984 Q2', '1984 Q3', '1984 Q4', '1985 Q1',
       '1985 Q2', '1985 Q3', '1985 Q4', '1986 Q1', '1986 Q2', '1986 Q3',
       '1986 Q4', '1987 Q1', '1987 Q2', '1987 Q3', '1987 Q4', '1988 Q1',
       '1988 Q2', '1988 Q3', '1988 Q4', '1989 Q1', '1989 Q2', '1989 Q3',
       '1989 Q4', '1990 Q1', '1990 Q2', '1990 Q3', '1990 Q4', '1991 Q1',
       '1991 Q2', '1991 Q3', '1991 Q4', '1992 Q1', '1992 Q2', '1992 Q3',
       '1992 Q4', '1993 Q1', '1993 Q2', '1993 Q3', '1993 Q4', '1994 Q1',
       '1994 Q2', '1994 Q3', '1994 Q4', '1995 Q1', '1995 Q2', '1995 Q3',
       '1995 Q4', '1996 Q1', '1996 Q2', '1996 Q3', '1996 Q4', '1997 Q1',
       '1997 Q2', '1997 Q3', '1997 Q4', '1992 JAN', '1992 FEB',
       '1992 MAR', '1992 APR', '1992 MAY', '1992 JUN', '1992 JUL',
       '1992 AUG', '1992 SEP', '1992 OCT', '1992 NOV', '1992 DEC',
       '1993 JAN', '1993 FEB', '1993 MAR', '1993 APR', '1993 MAY',
       '1993 JUN', '1993 JUL', '1993 AUG', '1993 SEP', '1993 OCT',
       '1993 NOV', '1993 DEC', '1994 JAN', '1994 FEB', '1994 MAR',
       '1994 APR', '1994 MAY', '1994 JUN', '1994 JUL', '1994 AUG',
       '1994 SEP', '1994 OCT', '1994 NOV', '1994 DEC', '1995 JAN',
       '1995 FEB', '1995 MAR', '1995 APR', '1995 MAY', '1995 JUN',
       '1995 JUL', '1995 AUG', '1995 SEP', '1995 OCT', '1995 NOV',
       '1995 DEC', '1996 JAN', '1996 FEB', '1996 MAR', '1996 APR',
       '1996 MAY', '1996 JUN', '1996 JUL', '1996 AUG', '1996 SEP',
       '1996 OCT', '1996 NOV', '1996 DEC', '1997 JAN', '1997 FEB',
       '1997 MAR', '1997 APR', '1997 MAY', '1997 JUN', '1997 JUL',
       '1997 AUG', '1997 SEP', '1997 OCT', '1997 NOV', '1997 DEC'],
      dtype=object)

In [7]:
import re
YEAR_RE = re.compile(r'[0-9]{4}')
YEAR_MONTH_RE = re.compile(r'([0-9]{4})\s+(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)')
YEAR_QUARTER_RE = re.compile(r'([0-9]{4})\s+(Q[1-4])')

# from https://stackoverflow.com/questions/597476/how-to-concisely-cascade-through-multiple-regex-statements-in-python
class Re(object):
  def __init__(self):
    self.last_match = None
  def fullmatch(self,pattern,text):
    self.last_match = re.fullmatch(pattern,text)
    return self.last_match

def time2period(t):
    gre = Re()
    if gre.fullmatch(YEAR_RE, t):
        return f"year/{t}"
    elif gre.fullmatch(YEAR_MONTH_RE, t):
        year, month = gre.last_match.groups()
        month_num = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06',
                     'JUL': '07', 'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}.get(month)
        return f"month/{year}-{month_num}"
    elif gre.fullmatch(YEAR_QUARTER_RE, t):
        year, quarter = gre.last_match.groups()
        return f"quarter/{year}-{quarter}"
    else:
        print(f"no match for {t}")

observations['Period'] = observations['Period'].apply(time2period)
observations

,Period,CDID,Value,Title
0,year/1998,SESM,-2766,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
1,year/1999,SESM,-2568,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
2,year/2000,SESM,-2441,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
3,year/2001,SESM,-3157,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
4,year/2002,SESM,-4703,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
5,year/2003,SESM,-5435,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
6,year/2004,SESM,-4851,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
7,year/2005,SESM,-3673,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
8,year/2006,SESM,-3746,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
9,year/2007,SESM,-5259,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
10,year/2008,SESM,-6023,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
11,year/2009,SESM,-8387,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
12,year/2010,SESM,-10573,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
13,year/2011,SESM,-10473,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
14,year/2012,SESM,-13839,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
15,year/2013,SESM,-17709,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
16,year/2014,SESM,-22028,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
17,year/2015,SESM,-22244,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
18,year/2016,SESM,-25014,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
19,year/2017,SESM,-27430,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
20,quarter/1998-Q1,SESM,-808,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
21,quarter/1998-Q2,SESM,-861,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
22,quarter/1998-Q3,SESM,-591,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
23,quarter/1998-Q4,SESM,-506,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
24,quarter/1999-Q1,SESM,-581,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
25,quarter/1999-Q2,SESM,-750,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
26,quarter/1999-Q3,SESM,-601,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
27,quarter/1999-Q4,SESM,-636,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
28,quarter/2000-Q1,SESM,-708,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
29,quarter/2000-Q2,SESM,-503,EU:BOP:Balance:SA:Semi-manufactures: SITC 5+6
...,...,...,...,...
270652,month/2015-10,SGTK,99,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270653,month/2015-11,SGTK,119,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270654,month/2015-12,SGTK,114,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270655,month/2016-01,SGTK,252,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270656,month/2016-02,SGTK,506,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270657,month/2016-03,SGTK,1081,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270658,month/2016-04,SGTK,268,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270659,month/2016-05,SGTK,484,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270660,month/2016-06,SGTK,499,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270661,month/2016-07,SGTK,1534,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270662,month/2016-08,SGTK,1594,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270663,month/2016-09,SGTK,893,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270664,month/2016-10,SGTK,613,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270665,month/2016-11,SGTK,573,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270666,month/2016-12,SGTK,544,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270667,month/2017-01,SGTK,551,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270668,month/2017-02,SGTK,474,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270669,month/2017-03,SGTK,653,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270670,month/2017-04,SGTK,524,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270671,month/2017-05,SGTK,783,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270672,month/2017-06,SGTK,1449,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270673,month/2017-07,SGTK,1230,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270674,month/2017-08,SGTK,781,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270675,month/2017-09,SGTK,561,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270676,month/2017-10,SGTK,612,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270677,month/2017-11,SGTK,1091,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270678,month/2017-12,SGTK,872,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270679,month/2018-01,SGTK,576,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270680,month/2018-02,SGTK,490,non-EU:BOP:IM:SA:Unspecified goods: SITC 9
270681,month/2018-03,SGTK,880,non-EU:BOP:IM:SA:Unspecified goods: SITC 9

CDID is an arbitrary/opaque 4 letter code registered by ONS and corresponds to a timeseries slice, so each CDID provides the value of a list of dimensions. These codes are also elaborated on in separate spreadsheets currently in Google Drive.

In [8]:
from IPython.display import display, HTML
cord_sitc_classification_table_url = 'https://drive.google.com/uc?export=download&id=1uJck_DtSgLs0XcEuKDB0swzj1UrWmauj'
cord_sitc_classification_table = BytesIO(session.get(cord_sitc_classification_table_url).content)
cord_sitc_table = pd.read_excel(cord_sitc_classification_table,
                                sheet_name=0, usecols="D:K", index_col=0, skip_footer=1,
                                dtype={'COMMODITY': str, 'AREA': str, 'DIRECTION': str, 'BASIS': str,
                                       'PRICE': str, 'SEASADJ': str, 'PERIOD': str})
display(HTML('<b>CORD SITC Classification table</b>'))
display(cord_sitc_table.head())

     COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
cdid
SDSX    2plus4   EU       BAL   BOP    CP     NSA      M
SGLO   5minus8   EU       BAL   BOP    CP     NSA      M
SFJC    7plus8   EU       BAL   BOP    CP     NSA      M
LKTX   TminusO   EU       BAL   BOP    CP     NSA      M
SDMS    0plus1   EU       BAL   BOP    CP     NSA      M

In [9]:
csdb_classification_tables_url = 'https://drive.google.com/uc?export=download&id=1miAzQ6s8om4Ark3BpRk3Y90OAWfWErTb'
csdb_classification_table = BytesIO(session.get(csdb_classification_tables_url).content)
csdb_sheets = pd.read_excel(csdb_classification_table, sheet_name=None, index_col=0,
                            dtype={'COMMODITY': str, 'AREA': str, 'DIRECTION': str, 'BASIS': str,
                                   'PRICE': str, 'SEASADJ': str, 'PERIOD': str, 'PRODUCT': str,
                                   'COUNTRY': str})
for (sheet, df) in csdb_sheets.items():
    display(HTML('<b>' + sheet + '</b>'))
    display(df.head())

     COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
cdid
SDSX    2plus4   EU       BAL   BOP    CP     NSA      Q
SGLO   5minus8   EU       BAL   BOP    CP     NSA      Q
SESL    5plus6   EU       BAL   BOP    CP     NSA      Q
SFJC    7plus8   EU       BAL   BOP    CP     NSA      Q
LKTX   TminusO   EU       BAL   BOP    CP     NSA      Q

     PRODUCT AREA DIRECTION BASIS PRICE SEASADJ PERIOD
cdid
P42L    24.2   EU        EX   BOP    CP     NSA      Q
P483    24.2   EU        EX   BOP    CP      SA      Q
P4DJ    24.2   EU        EX   BOP   CVM     NSA      Q
P4IZ    24.2   EU        EX   BOP   CVM      SA      Q
P3EP    24.2   EU        IM   BOP    CP     NSA      Q

     COUNTRY DIRECTION BASIS SEASADJ PERIOD
cdid
KN2O      XS       BAL   BOP     NSA      Q
LGDS      V4       BAL   BOP     NSA      Q
L87P      V3       BAL   BOP     NSA      Q
L87J      V2       BAL   BOP     NSA      Q
MHN8      I7       BAL   BOP     NSA      Q

It looks as though the `cord_sitc_table` is the same as the `cord_sitc` sheet loaded above.

In [10]:
different_cdids = set(cord_sitc_table.index.values).symmetric_difference(set(csdb_sheets['cord_sitc'].index.values))
display(different_cdids)
cord_sitc_table.sort_index().eq(csdb_sheets['cord_sitc'].sort_index())

{'OCOW', 'SGKA', 'SJNK'}

      COMMODITY  AREA  DIRECTION  BASIS  PRICE  SEASADJ  PERIOD
cdid
BAFB       True  True       True   True   True     True   False
BAFC       True  True       True   True   True     True   False
BAHA       True  True       True   True   True     True   False
BAHY       True  True       True   True   True     True   False
BOBZ       True  True       True   True   True     True   False
BOGG       True  True       True   True   True     True   False
BOGH       True  True       True   True   True     True   False
BOGO       True  True       True   True   True     True   False
BOGP       True  True       True   True   True     True   False
BOGQ       True  True       True   True   True     True   False
BOGR       True  True       True   True   True     True   False
BOGS       True  True       True   True   True     True   False
BOGT       True  True       True   True   True     True   False
BOGU       True  True       True   True   True     True   False
BOKG       True  True       True   True   True     True   False
BOKH       True  True       True   True   True     True   False
BOKI       True  True       True   True   True     True   False
BOKJ       True  True       True   True   True     True   False
BOKK       True  True       True   True   True     True   False
BOKL       True  True       True   True   True     True   False
BOLA       True  True       True   True   True     True   False
BOMA       True  True       True   True   True     True   False
BOMM       True  True       True   True   True     True   False
BONC       True  True       True   True   True     True   False
BOPC       True  True       True   True   True     True   False
BOPD       True  True       True   True   True     True   False
BOPE       True  True       True   True   True     True   False
BOPL       True  True       True   True   True     True   False
BOPM       True  True       True   True   True     True   False
BOPN       True  True       True   True   True     True   False
...         ...   ...        ...    ...    ...      ...     ...
SMZI       True  True       True   True   True     True   False
SMZJ       True  True       True   True   True     True   False
SMZL       True  True       True   True   True     True   False
SMZM       True  True       True   True   True     True   False
SMZQ       True  True       True   True   True     True   False
SMZR       True  True       True   True   True     True   False
SMZS       True  True       True   True   True     True   False
SMZT       True  True       True   True   True     True   False
SMZU       True  True       True   True   True     True   False
SMZV       True  True       True   True   True     True   False
SMZW       True  True       True   True   True     True   False
SMZZ       True  True       True   True   True     True   False
SNAA       True  True       True   True   True     True   False
SNAE       True  True       True   True   True     True   False
SNAF       True  True       True   True   True     True   False
SNAG       True  True       True   True   True     True   False
SNAH       True  True       True   True   True     True   False
SNAI       True  True       True   True   True     True   False
SNAJ       True  True       True   True   True     True   False
SNAK       True  True       True   True   True     True   False
SNAL       True  True       True   True   True     True   False
SNAM       True  True       True   True   True     True   False
SNAN       True  True       True   True   True     True   False
SNAO       True  True       True   True   True     True   False
SNAP       True  True       True   True   True     True   False
SNAQ       True  True       True   True   True     True   False
SNAR       True  True       True   True   True     True   False
SNAS       True  True       True   True   True     True   False
SNAT       True  True       True   True   True     True   False
SNAU       True  True       True   True   True     True   False

[6201 rows x 7 columns]

Apparently not. Let's use `csdb_sheets` for now. __TODO: need to check whether the CDID period length matches the MRETS period length.__

Next we have another table of CDIDs not listed in the above:

In [11]:
codelist_url = 'https://drive.google.com/uc?export=download&id=161OtInylx2518gmhRu7UgUYnZZ_x9FQr'
codelist = pd.read_csv(BytesIO(session.get(codelist_url).content), index_col=0,
                       dtype={'AREA': str, 'DIRECTION': str, 'BASIS': str,
                              'PRICE': str, 'SEASADJ': str, 'PERIOD': str},
                       converters={'COMMODITY': lambda x: str(x).strip()})
codelist

,COMMODITY,AREA,DIRECTION,BASIS,PRICE,SEASADJ,PERIOD
cdid,,,,,,,
AJFB,Canadian dollar,UK,NaN,BE,CP,NSA,NaN
AJFD,Swiss franc,UK,NaN,BE,CP,NSA,NaN
AJFI,Swedish kroner,UK,NaN,BE,CP,NSA,NaN
AJFJ,Norwegian kroner,UK,NaN,BE,CP,NSA,NaN
AJFK,Danish kroner,UK,NaN,BE,CP,NSA,NaN
AJFO,Japanese yen,UK,NaN,BE,CP,NSA,NaN
AJFP,Australian Dollar,UK,NaN,BE,CP,NSA,NaN
AJFU,Hong Kong Dollar,UK,NaN,BE,CP,NSA,NaN
AJFV,New Zealand Dollar,UK,NaN,BE,CP,NSA,NaN
AJFW,South African Rand,UK,NaN,BE,CP,NSA,NaN
AUSS,US dollar,UK,NaN,BE,CP,NSA,NaN
BK67,"Monthly average, Effective exchange rate index...",UK,NaN,BE,CP,NSA,NaN
THAP,Exchange rates for euro monthly average - ster...,UK,NaN,BE,CP,NSA,NaN
BOQM,,NaN,EX,BOP,CP,SA,NaN
BPBN,,NaN,EX,BOP,CP,SA,NaN
BQAX,,NaN,IM,BOP,CP,SA,NaN
BQBH,,NaN,IM,BOP,CP,SA,NaN
BQHQ,,WW,IM,BOP,CP,SA,NaN
BQHS,,W1,IM,BOP,CVM,SA,NaN
CLAS,,EU,IM,BOP,CP,SA,NaN
CLAT,,RW,IM,BOP,CP,SA,NaN
CPLX,,NaN,EX,NaN,CP,SA,NaN
CPLY,,NaN,IM,NaN,CP,SA,NaN
CPLZ,,NaN,BAL,NaN,CP,SA,NaN
IKBB,,NaN,EX,NaN,CP,SA,NaN
IKBC,,NaN,IM,NaN,CP,SA,NaN
IKBD,,NaN,BAL,NaN,CP,SA,NaN
IKBH,,NaN,EX,NaN,CP,SA,NaN
IKBI,,NaN,IM,NaN,CP,SA,NaN
IKBJ,,NaN,BAL,NaN,CP,SA,NaN
OFNN,,NaN,NaN,NaN,CP,SA,NaN

This (above) list seems to be missing some values (NaN). E.g. looking up `BOQM` on https://www.ons.gov.uk/timeseriestool finds `BOP:Exports:Tons:SA:Crude oil: SITC 333`.

Check that all CDIDs used in MRETS are defined in these tables.

In [12]:
all_cdids = pd.concat(list(csdb_sheets.values()) + [codelist])
display(all_cdids)
defined_cdids = set(all_cdids.index.values)
remaining = set(observations['CDID'].unique()).difference(defined_cdids)  
assert not remaining, 'Not all CDIDs defined: ' + str(remaining)

,AREA,BASIS,COMMODITY,COUNTRY,DIRECTION,PERIOD,PRICE,PRODUCT,SEASADJ
cdid,,,,,,,,,
SDSX,EU,BOP,2plus4,NaN,BAL,Q,CP,NaN,NSA
SGLO,EU,BOP,5minus8,NaN,BAL,Q,CP,NaN,NSA
SESL,EU,BOP,5plus6,NaN,BAL,Q,CP,NaN,NSA
SFJC,EU,BOP,7plus8,NaN,BAL,Q,CP,NaN,NSA
LKTX,EU,BOP,TminusO,NaN,BAL,Q,CP,NaN,NSA
SDMS,EU,BOP,0plus1,NaN,BAL,Q,CP,NaN,NSA
SDTB,EU,BOP,2plus4,NaN,BAL,Q,CP,NaN,SA
SGLP,EU,BOP,5minus8,NaN,BAL,Q,CP,NaN,SA
SESM,EU,BOP,5plus6,NaN,BAL,Q,CP,NaN,SA
SFJD,EU,BOP,7plus8,NaN,BAL,Q,CP,NaN,SA
SDCR,EU,BOP,TminusE,NaN,BAL,Q,CP,NaN,SA
LKTY,EU,BOP,TminusO,NaN,BAL,Q,CP,NaN,SA
SHBF,EU,BOP,TminusOE,NaN,BAL,Q,CP,NaN,SA
SDMV,EU,BOP,0plus1,NaN,BAL,Q,CP,NaN,SA
LKVJ,EU,BOP,TminusO,NaN,BAL,Q,DEF,NaN,NSA
SMFY,EU,OTS,04plus08,NaN,EX,Q,CP,NaN,NSA
SDNA,EU,OTS,0plus1,NaN,EX,Q,CP,NaN,NSA
SFMP,EU,OTS,7plus8C,NaN,EX,Q,CP,NaN,NSA
SFSI,EU,OTS,7plus8I,NaN,EX,Q,CP,NaN,NSA
SFXS,EU,OTS,7plus8K,NaN,EX,Q,CP,NaN,NSA
SMWS,EU,OTS,84plus85,NaN,EX,Q,CP,NaN,NSA
SLZY,EU,OTS,87plus88C,NaN,EX,Q,CP,NaN,NSA
SMBY,EU,OTS,87plus88K,NaN,EX,Q,CP,NaN,NSA
SJTK,EU,OTS,68minusS,NaN,EX,Q,CP,NaN,NSA
LKUM,EU,OTS,TminusO,NaN,EX,Q,CP,NaN,NSA
SEVO,EU,OTS,6minusPS,NaN,EX,Q,CP,NaN,NSA
SGMD,EU,OTS,5minus8,NaN,EX,Q,CP,NaN,NSA
SDTG,EU,OTS,2plus4,NaN,EX,Q,CP,NaN,NSA
SETA,EU,OTS,5plus6,NaN,EX,Q,CP,NaN,NSA
SIVM,EU,OTS,57plus58,NaN,EX,Q,CP,NaN,NSA
...,...,...,...,...,...,...,...,...,...
AJFD,UK,BE,Swiss franc,NaN,NaN,NaN,CP,NaN,NSA
AJFI,UK,BE,Swedish kroner,NaN,NaN,NaN,CP,NaN,NSA
AJFJ,UK,BE,Norwegian kroner,NaN,NaN,NaN,CP,NaN,NSA
AJFK,UK,BE,Danish kroner,NaN,NaN,NaN,CP,NaN,NSA
AJFO,UK,BE,Japanese yen,NaN,NaN,NaN,CP,NaN,NSA
AJFP,UK,BE,Australian Dollar,NaN,NaN,NaN,CP,NaN,NSA
AJFU,UK,BE,Hong Kong Dollar,NaN,NaN,NaN,CP,NaN,NSA
AJFV,UK,BE,New Zealand Dollar,NaN,NaN,NaN,CP,NaN,NSA
AJFW,UK,BE,South African Rand,NaN,NaN,NaN,CP,NaN,NSA
AUSS,UK,BE,US dollar,NaN,NaN,NaN,CP,NaN,NSA
BK67,UK,BE,"Monthly average, Effective exchange rate index...",NaN,NaN,NaN,CP,NaN,NSA
THAP,UK,BE,Exchange rates for euro monthly average - ster...,NaN,NaN,NaN,CP,NaN,NSA
BOQM,NaN,BOP,,NaN,EX,NaN,CP,NaN,SA
BPBN,NaN,BOP,,NaN,EX,NaN,CP,NaN,SA
BQAX,NaN,BOP,,NaN,IM,NaN,CP,NaN,SA
BQBH,NaN,BOP,,NaN,IM,NaN,CP,NaN,SA
BQHQ,WW,BOP,,NaN,IM,NaN,CP,NaN,SA
BQHS,W1,BOP,,NaN,IM,NaN,CVM,NaN,SA
CLAS,EU,BOP,,NaN,IM,NaN,CP,NaN,SA
CLAT,RW,BOP,,NaN,IM,NaN,CP,NaN,SA
CPLX,NaN,NaN,,NaN,EX,NaN,CP,NaN,SA
CPLY,NaN,NaN,,NaN,IM,NaN,CP,NaN,SA
CPLZ,NaN,NaN,,NaN,BAL,NaN,CP,NaN,SA
IKBB,NaN,NaN,,NaN,EX,NaN,CP,NaN,SA
IKBC,NaN,NaN,,NaN,IM,NaN,CP,NaN,SA
IKBD,NaN,NaN,,NaN,BAL,NaN,CP,NaN,SA
IKBH,NaN,NaN,,NaN,EX,NaN,CP,NaN,SA
IKBI,NaN,NaN,,NaN,IM,NaN,CP,NaN,SA
IKBJ,NaN,NaN,,NaN,BAL,NaN,CP,NaN,SA
OFNN,NaN,NaN,,NaN,NaN,NaN,CP,NaN,SA

Inspect the unique values for these dimensions.

In [13]:
for col in all_cdids:
    display(HTML('<b>' + col + '</b>'))
    display(all_cdids[col].unique())

array(['EU', 'RW', 'WW', nan, 'UK', 'W1'], dtype=object)

array(['BOP', 'OTS', 'BE', nan], dtype=object)

array(['2plus4', '5minus8', '5plus6', '7plus8', 'TminusO', '0plus1',
       'TminusE', 'TminusOE', '04plus08', '7plus8C', '7plus8I', '7plus8K',
       '84plus85', '87plus88C', '87plus88K', '68minusS', '6minusPS',
       '57plus58', '87plus88I', '87plus88', '56plus59', '792and3',
       '71minus77', 'T', '0', '1', '2', '3', '4', '8', '5', '6', '7', '9',
       '11', '12', '24', '25', '26', '28', '2OCM', '21', '22', '23', '27',
       '29', '96', '41', '42', '43', '33', '33O', '33R', '3OF', '32',
       '34', '35', '51', '52', '53', '54', '55', '57+58', '57', '58',
       '56', '59', '61', '62', '63', '64', '65', '66', '66minusP', '66P',
       '67', '68', '68S', '69', '71-77', '7M', '7MC', '71MC', '72C',
       '74C', '7MI', '71MI', '72I', '73I', '74I', '7MK', '71MK', '72K',
       '73K', '74K', '7E', '7EC', '76C', '77C', '7EI', '71EI', '75I',
       '76I', '77I', '7EK', '71EK', '75K', '76K', '77K', '78', '78M',
       '78C', '78I', '78K', '79', '791I', '791K', '792', '793', '84+85',
       '84', '85', '87+88', '896', '91', '897C', '8OC', '83', '8OI',
       '8OK', 'POST', '93', 'LOW', '9OG', '98', 'E', 'PS', '5plus6minusE',
       '7plus8minusE', '71', '72', '73', '74', '75', '76', '77', '81',
       '82', '87', '88', '89', '99', '5min8minE', nan, 'Canadian dollar',
       'Swiss franc', 'Swedish kroner', 'Norwegian kroner',
       'Danish kroner', 'Japanese yen', 'Australian Dollar',
       'Hong Kong Dollar', 'New Zealand Dollar', 'South African Rand',
       'US dollar',
       'Monthly average, Effective exchange rate index, Sterling (Jan 2005=100)',
       'Exchange rates for euro monthly average - sterling euro', ''],
      dtype=object)

array([nan, 'XS', 'V4', 'V3', 'V2', 'I7', 'I3', 'K6', 'D5', 'K5', 'K4',
       'I8', 'A1', 'K3', 'J6', 'J3', 'J7', 'XR', 'CW', 'NW', 'V1', 'D3',
       'D2', 'AT', 'A3', 'BE', 'LU', 'DK', 'FI', 'FR', 'DE', 'GR', 'IE',
       'IT', 'NL', 'PT', 'ES', 'SE', 'CY', 'CZ', 'EE', 'HU', 'LV', 'LT',
       'MT', 'PL', 'SK', 'SI', 'BG', 'RO', 'D4', 'C80', 'A5', 'IS', 'LI',
       'NO', 'CH', 'GI', 'TR', 'C482', 'AD', 'FO', 'SM', 'VA', 'C83',
       'B1', 'CA', 'MX', 'US', 'US1', 'PR', 'C484', 'GL', 'PM', 'C76',
       'AU', 'JP', 'NZ', 'KR', 'XC', 'XL', 'C77', 'SA', 'AE', 'AE1', 'DH',
       'DU', 'HA', 'C486', 'BH', 'KW', 'IQ', 'OM', 'QA', 'C487', 'DZ',
       'BN', 'TL', 'EC', 'GA', 'ID', 'IR', 'LY', 'NG', 'TT', 'VE', 'C72',
       'C493', 'AL', 'BY', 'BA', 'HR', 'MK', 'MD', 'RU', 'XK', 'ME', 'CS',
       'UA', 'C472', 'BS', 'BB', 'JM', 'PA', 'KN', 'C473', 'BM', 'VG',
       'KY', 'MS', 'C474', 'AG', 'BZ', 'DM', 'DO', 'GD', 'HT', 'LC', 'VC',
       'C475', 'CR', 'CU', 'SV', 'GT', 'HN', 'NI', 'C476', 'AI', 'AW',
       'TC', 'VI', 'C489', 'AR', 'BO', 'BR', 'CL', 'CO', 'FK', 'GY', 'PY',
       'PE', 'SR', 'UY', 'C488', 'MA', 'TN', 'EG', 'ZA', 'C494', 'C469',
       'BJ', 'BF', 'CM', 'CF', 'TD', 'KM', 'CG', 'GQ', 'GW', 'CI', 'ML',
       'YT', 'NE', 'SN', 'TG', 'C470', 'AO', 'BW', 'BI', 'CV', 'CD', 'DJ',
       'ER', 'ET', 'GM', 'GH', 'GN', 'KE', 'LS', 'LR', 'MG', 'MW', 'MR',
       'MU', 'MZ', 'nan', 'RW', 'ST', 'SC', 'SL', 'SO', 'SD', 'SZ', 'TZ',
       'UG', 'ZM', 'ZW', 'C471', 'IO', 'SH', 'C490', 'CN', 'HK', 'IN',
       'IL', 'LB', 'MY', 'PK', 'PH', 'SG', 'TW', 'TH', 'VN', 'YE', 'C477',
       'AM', 'AZ', 'GE', 'C478', 'KZ', 'KG', 'TJ', 'TM', 'UZ', 'C481',
       'JO', 'PS', 'SY', 'C479', 'MM', 'LA', 'KH', 'C480', 'AF', 'BD',
       'MV', 'LK', 'NP', 'BT', 'MN', 'KP', 'MO', 'C415', 'PG', 'VU',
       'C441', 'CC', 'CX', 'HM', 'NF', 'C442', 'AS', 'GU', 'UM', 'C443',
       'CK', 'NU', 'TK', 'C444', 'AQ', 'BV', 'TF', 'GS', 'C491', 'FJ',
       'PF', 'KI', 'MH', 'FM', 'NR', 'NC', 'MP', 'PW', 'PN', 'WS', 'SB',
       'TO', 'TV', 'WF', 'E1', 'E2', '8A', 'E3', 'E4', 'E5', 'R9', 'E6',
       '8C', 'E7', 'E8', 'E9', 'R3', 'F1', 'F2', 'F3', 'F4', 'J8', 'F5',
       'F6', '8B', 'F7', 'I5', 'I6', 'J5', 'I4', 'J4', 'A8', 'B3', 'B4',
       'B5', 'C449', 'C450', 'C451', 'B9', 'C453', 'C454', 'C405', 'C445',
       'C447', 'C459', 'C455', 'C93', 'C456', 'C457', 'C458', 'C460',
       'C462'], dtype=object)

array(['BAL', 'EX', 'IM', nan], dtype=object)

array(['Q', nan], dtype=object)

array(['CP', 'DEF', 'CVM', 'KQ', 'IDEF', 'VM', 'PYP', 'KP', nan],
      dtype=object)

array([nan, '24.2', 'TOTAL', 'A', '1', '1.1', '1.2', '1.3', '1.4', '2',
       '2.1', '2.2', '2.3', '3', 'B', '5', '5.1', '5.2', '6', '6.1',
       '6.2', '7', '7.1', '7.2', '8', '8.1', '8.9', 'C', '10', '10.1',
       '10.2', '10.3', '10.4', '10.5', '10.6', '10.7', '10.8', '10.9',
       '11', '11.01', '11.02', '11.03', '11.04', '11.05', '11.06',
       '11.07', '12', '13', '13.1', '13.2', '13.9', '14', '14.1', '14.2',
       '14.3', '15', '15.1', '15.2', '16', '16.1', '16.2', '17', '17.1',
       '17.2', '18', '18.1', '19', '19.1', '19.2', '20', '20.11', '20.12',
       '20.13', '20.15', '20.14', '20.16', '20.17', '20.1', '20.2',
       '20.3', '20.4', '20.5', '20.6', '21', '21.1', '21.2', '22', '22.1',
       '22.2', '23', '23.1', '23.2', '23.3', '23.4', '23.5', '23.6',
       '23.7', '23.9', '24', '24.1', '24.3', '24.4', '24.5', '25', '25.1',
       '25.2', '25.3', '25.4', '25.7', '25.9', '26', '26.1', '26.2',
       '26.3', '26.4', '26.5', '26.6', '26.7', '26.8', '27', '27.1',
       '27.2', '27.3', '27.4', '27.5', '27.9', '28', '28.1', '28.2',
       '28.3', '28.4', '28.9', '29', '29.1', '29.2', '29.3', '30', '30.1',
       '30.3', '30.3A', '30.3B', '30.3C', '30.2', '30.4', '30.9', '31',
       '32', '32.1', '32.2', '32.3', '32.4', '32.5', '32.9', 'D', '35',
       '35.1', '35.2', 'E', '37', '38', '38.1', '38.2', '38.3', 'J', '58',
       '58.1', '58.2', '59', '59.1', '59.2', 'M', '71', '71.1', '74',
       '74.2', 'R', '90', '91', 'S', '96', 'POST', 'LOW'], dtype=object)

array(['NSA', 'SA'], dtype=object)

__TODO: Still not sure what to make of the titles provided for the CDIDs in the MRETS table.__

__TODO: PERIOD doesn't seem to correspond to usage.__

In [14]:
bop_series = all_cdids[all_cdids['BASIS'] == 'BOP'].copy()
def area_country(row):
    if pd.isnull(row['AREA']):
        if (pd.isnull(row['COUNTRY'])):
            return None
        assert pd.notnull(row['COUNTRY'])
        return 'country/' + row['COUNTRY']
    else:
        assert pd.isnull(row['COUNTRY'])
        return 'area/' + row['AREA']
#bop_series.loc[bop_series.AREA == None, 'AREA'] = bop_series.COUNTRY
bop_series['Area'] = bop_series.apply(area_country, axis=1)
def product_commodity(row):
    if pd.isnull(row['PRODUCT']):
        if pd.isnull(row['COMMODITY']):
#            print('PRODUCT and COMMODITY both empty for CDID: ' + row.name)
#            print(row)
            return None
        assert pd.notnull(row['COMMODITY'])
        return row['COMMODITY']
    else:
        assert pd.isnull(row['COMMODITY'])
        return row['PRODUCT']
bop_series['Product'] = bop_series.apply(product_commodity, axis=1)
bop_series.drop(columns=['PERIOD', 'AREA', 'COUNTRY', 'PRODUCT', 'COMMODITY', 'BASIS'], inplace=True)
bop_series.rename(columns={'DIRECTION': 'Flow',
                           'PRICE': 'Price Classification',
                           'SEASADJ': 'Seasonal Adjustment'}, inplace=True)
bop_series.replace({'Flow': {'BAL': 'Balance', 'IM': 'Imports', 'EX': 'Exports'}}, inplace=True)
bop_series['Measure Type'] = 'GBP Total'
bop_series['Unit'] = '£ Million'

bop_observations = observations[observations['CDID'].isin(bop_series.index.values)]
bop_observations = bop_observations.merge(bop_series, how = 'left', left_on = 'CDID', right_index=True)
bop_observations.drop(columns=['Title'], inplace=True)
bop_observations.dropna(how='any', inplace=True)
bop_observations

,Period,CDID,Value,Flow,Price Classification,Seasonal Adjustment,Area,Product,Measure Type,Unit
0,year/1998,SESM,-2766,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
1,year/1999,SESM,-2568,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
2,year/2000,SESM,-2441,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
3,year/2001,SESM,-3157,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
4,year/2002,SESM,-4703,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
5,year/2003,SESM,-5435,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
6,year/2004,SESM,-4851,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
7,year/2005,SESM,-3673,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
8,year/2006,SESM,-3746,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
9,year/2007,SESM,-5259,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
10,year/2008,SESM,-6023,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
11,year/2009,SESM,-8387,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
12,year/2010,SESM,-10573,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
13,year/2011,SESM,-10473,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
14,year/2012,SESM,-13839,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
15,year/2013,SESM,-17709,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
16,year/2014,SESM,-22028,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
17,year/2015,SESM,-22244,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
18,year/2016,SESM,-25014,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
19,year/2017,SESM,-27430,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
20,quarter/1998-Q1,SESM,-808,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
21,quarter/1998-Q2,SESM,-861,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
22,quarter/1998-Q3,SESM,-591,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
23,quarter/1998-Q4,SESM,-506,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
24,quarter/1999-Q1,SESM,-581,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
25,quarter/1999-Q2,SESM,-750,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
26,quarter/1999-Q3,SESM,-601,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
27,quarter/1999-Q4,SESM,-636,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
28,quarter/2000-Q1,SESM,-708,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
29,quarter/2000-Q2,SESM,-503,Balance,CP,SA,area/EU,5plus6,GBP Total,£ Million
...,...,...,...,...,...,...,...,...,...,...
270652,month/2015-10,SGTK,99,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270653,month/2015-11,SGTK,119,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270654,month/2015-12,SGTK,114,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270655,month/2016-01,SGTK,252,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270656,month/2016-02,SGTK,506,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270657,month/2016-03,SGTK,1081,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270658,month/2016-04,SGTK,268,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270659,month/2016-05,SGTK,484,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270660,month/2016-06,SGTK,499,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270661,month/2016-07,SGTK,1534,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270662,month/2016-08,SGTK,1594,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270663,month/2016-09,SGTK,893,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270664,month/2016-10,SGTK,613,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270665,month/2016-11,SGTK,573,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270666,month/2016-12,SGTK,544,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270667,month/2017-01,SGTK,551,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270668,month/2017-02,SGTK,474,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270669,month/2017-03,SGTK,653,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270670,month/2017-04,SGTK,524,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270671,month/2017-05,SGTK,783,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270672,month/2017-06,SGTK,1449,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270673,month/2017-07,SGTK,1230,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270674,month/2017-08,SGTK,781,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270675,month/2017-09,SGTK,561,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270676,month/2017-10,SGTK,612,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270677,month/2017-11,SGTK,1091,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270678,month/2017-12,SGTK,872,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270679,month/2018-01,SGTK,576,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270680,month/2018-02,SGTK,490,Imports,CP,SA,area/RW,9,GBP Total,£ Million
270681,month/2018-03,SGTK,880,Imports,CP,SA,area/RW,9,GBP Total,£ Million

In [15]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

bop_observations.to_csv(destinationFolder / ('bop_observations.csv'), index = False)